# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables / secrets
.env
.env.*

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform-generated Lambda packages
infrastructure/terraform/*.zip

# Lambda build output
build/

# Terraform-generated Lambda archives
infrastructure/terraform/*.zip